@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/Inter-Italic-VariableFont_opsz,wght.ttf')
        format('truetype');
}

@theme {
    --font-inter: 'Inter', 'sans-serif';
}

/* Custom classes that can't be easily replaced with Tailwind utilities */
.expanded {
    display: block;
}

/* Media query for responsive navigation */
@media screen and (min-width: 636px) {
    .hamburger {
        display: none;
    }
}
