@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/Inter-Italic-VariableFont_opsz,wght.ttf')
        format('truetype');
}

@theme {
    --font-inter: 'Inter', 'sans-serif';

    --color-black: oklch(18.45% 0 0);
    --color-white: oklch(94.78% 0.002 108.65);
    --color-green: oklch(0.63 0.13 131.42);
    --color-red: oklch(0.68 0.2 36.34);
}
