---
import { getCollection } from 'astro:content'

import BaseLayout from '@/layouts/BaseLayout.astro'
import PageTitle from '@/components/PageTitle.astro'

const allPosts = await getCollection('blog')
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())]
const pageTitle = 'Tags'
---

<BaseLayout pageTitle={pageTitle}>
    <div class='mb-12'>
        <PageTitle title='Tags' />
    </div>
    <div class='mx-auto grid gap-2 divide-y dark:divide-yin/80 divide-yang'>
        {tags.map((tag) => <a href={`/tags/${tag}`} class="py-4 hover:text-ajna">#{tag}</a>)}
    </div>
</BaseLayout>
