---
import { getCollection } from 'astro:content'

import BaseLayout from '@/layouts/BaseLayout.astro'
import Title from '@/components/Title.astro'

const allPosts = await getCollection('blog')
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())]
const pageTitle = 'Tags'
---

<BaseLayout pageTitle={pageTitle}>
    <div class='mb-12'>
        <Title title='Tags' />
    </div>
    <div class='dark:divide-yin/80 divide-yang mx-auto grid gap-2 divide-y'>
        {
            tags.map((tag) => (
                <a href={`/tags/${tag}`} class='hover:text-ajna py-4 capitalize'>
                    {tag}
                </a>
            ))
        }
    </div>
</BaseLayout>
