---
import BaseLayout from '@/layouts/BaseLayout.astro'
import ProjectsList from '@/components/ProjectsList.astro'

const pageTitle = 'Home'
---

<BaseLayout pageTitle={pageTitle}>
    <header class='mb-20 lg:mb-28'>
        <div class='mx-auto max-w-xl text-center leading-relaxed'>
            <p>
                Hello, I'm Armando, Co-founder of <a
                    href='https://www.tribu.yoga'
                    target='_blank'
                    rel='noopener noreferrer'
                    class='text-ajna hover:underline'>Tribu Yoga</a
                > and
                <a
                    href='https://www.trippingcats.com/'
                    target='_blank'
                    rel='noopener noreferrer'
                    class='text-ajna hover:underline'>Tripping Cats</a
                >. I write on philosophy, entrepreneurship and the art of living freely. Ideas, insights and
                perspectives for those curious enough to follow.
            </p>
        </div>
    </header>
    <div class='mb-20 lg:mb-28'>
        <ProjectsList />
    </div>
</BaseLayout>
