---
import Title from '@/components/Title.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'
import PostsList from '@/components/PostsList.astro'
import ProjectsList from '@/components/ProjectsList.astro'

const pageTitle = 'Home'
---

<BaseLayout pageTitle={pageTitle}>
    <header class='mb-20 lg:mb-28'>
        <Title title='Armando Borge' />
        <div class='max-w-2xl leading-relaxed'>
            <p>
                Hello, I'm Armando, a software engineer and entrepreneur based in Costa Rica. I build web solutions that
                empower businesses around the world. Explore my <a href='/projects' class='text-ajna hover:underline'
                    >projects</a
                >, read my <a href='/blog' class='text-ajna hover:underline'>thoughts on technology</a>, learn more <a
                    href='/about'
                    class='text-ajna hover:underline'>about me</a
                >, or <a href='/contact' class='text-ajna hover:underline'>get in touch</a>.
            </p>
        </div>
    </header>
    <div class='mb-20 lg:mb-28'>
        <Title title='Blog' />
        <PostsList />
    </div>
    <div class='mb-20 lg:mb-28'>
        <Title title='Projects' />
        <ProjectsList />
    </div>
</BaseLayout>
