---
import { Content as BioText } from '@/pages/_bio.md'

import BaseLayout from '@/layouts/BaseLayout.astro'
import Header from '@/components/Header.astro'
import ProjectsList from '@/components/ProjectsList.astro'
import SideProfileImage from '@/components/SideProfileImage.astro'

const pageTitle = 'Home'
---

<BaseLayout pageTitle={pageTitle}>
    <Header title='Armando Borge' />
    <div class='grid gap-10 lg:grid-cols-[auto_1fr]'>
        <SideProfileImage />
        <div
            class='prose prose-sm prose-a:text-ajna text-yang dark:text-yin prose-strong:text-current w-full max-w-none md:columns-2'
        >
            <BioText />
        </div>
        <div class='hidden lg:block'></div>
        <div class='md:pl-[50%]'>
            <a class='global-button' href='/contact'
                >Let's work together <span aria-hidden='true' class='inline-block rotate-[-45deg]'>→</span></a
            >
        </div>
    </div>
    <div class='mt-32'>
        <Header title="Project's Portfolio" showImage={false} />
        <ProjectsList />
    </div>
</BaseLayout>
