---
import { Image } from 'astro:assets'

import BaseLayout from '@/layouts/BaseLayout.astro'
import ProjectsList from '@/components/ProjectsList.astro'
import ProfilePicture from '@/img/armando.jpg'

const pageTitle = 'Home'
---

<BaseLayout pageTitle={pageTitle}>
    <header class='mb-20 lg:mb-28'>
        <Image
            src={ProfilePicture}
            alt='Armando Borge'
            width={158}
            height={158}
            densities={[2]}
            class='mx-auto mb-8 size-24 rounded-full border-2 border-black object-cover opacity-80 dark:border-white'
        />
        <div class='mx-auto mb-6 max-w-xl text-center leading-relaxed'>
            <p>
                I’m Armando — a software engineer, digital entrepreneur, psychonaut and explorer. Co-founder of <a
                    href='https://www.tribu.yoga'
                    target='_blank'
                    rel='noopener noreferrer'
                    class='text-ajna hover:underline'>Tribu Yoga App</a
                > and <a
                    href='https://www.trippingcats.com/'
                    target='_blank'
                    rel='noopener noreferrer'
                    class='text-ajna hover:underline'>Tripping Cats OÜ</a
                >.
            </p>
        </div>
        <div class='mx-auto flex justify-center gap-x-8 text-center text-xs/5 font-medium uppercase'>
            <a
                href='https://www.instagram.com/tribu.yoga.app'
                class='hover:text-ajna'
                target='_blank'
                rel='noopener noreferrer'
            >
                Instagram
            </a>
            <a href='https://github.com/armandoborge' class='hover:text-ajna' target='_blank' rel='noopener noreferrer'>
                GitHub
            </a>
            <a
                href='https://www.linkedin.com/in/armandoborge'
                class='hover:text-ajna'
                target='_blank'
                rel='noopener noreferrer'
            >
                LinkedIn
            </a>
        </div>
    </header>
    <div class='mb-12'>
        <ProjectsList />
    </div>
</BaseLayout>
