---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Title from '@/components/Title.astro'

const pageTitle = 'Message received'
---

<BaseLayout pageTitle={pageTitle}>
    <div class='mx-auto max-w-2xl'>
        <div class='mb-12 text-center'>
            <Title title='Thank You' />
            <div>
                <h2 class='text-ajna mb-1 text-base font-medium md:text-lg'>Your message has been received.</h2>
                <p class='mb-12 leading-loose'>
                    I appreciate your interest in working together and look forward to learning more about your project.
                    If there's potential for meaningful collaboration, you'll hear from me shortly.
                </p>
                <a class='global-button' href='/'
                    >Return home <span aria-hidden='true' class='inline-block rotate-[-45deg]'>→</span></a
                >
            </div>
        </div>
    </div>
</BaseLayout>
