---
import Title from '@/components/Title.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'
import PostsList from '@/components/PostsList.astro'

const pageTitle = 'Blog'
---

<BaseLayout pageTitle={pageTitle}>
    <header class='mb-16 sm:max-w-sm'>
        <Title title={pageTitle} />
        <div class='leading-relaxed'>
            <p>Thoughts, stories, and ideas about web development, programming, and technology.</p>
        </div>
    </header>
    <PostsList />
</BaseLayout>
