<a
    class='hover:bg-ajna bg-yang dark:text-yang text-yin hover:text-yin dark:bg-yin inline-block rounded-md px-4 py-2 font-semibold'
    href='/contact'>Let's work together <span aria-hidden='true'>→</span></a
>
