<a
    class='hover:bg-red inline-block rounded-md bg-black px-4 py-2 font-semibold text-white dark:bg-white dark:text-black'
    href='/contact'>Let's work together <span aria-hidden='true'>→</span></a
>
