---
const currentYear = new Date().getFullYear()
---

<footer>
    <div class='mx-auto flex w-full max-w-6xl items-center justify-between px-4 pt-8 pb-4 text-xs/5 md:px-10 lg:px-14'>
        <p class='w-full'>&copy; {currentYear} Armando Borge</p>
    </div>
</footer>
