---
const currentYear = new Date().getFullYear()
---

<footer>
    <div class='mx-auto flex w-full max-w-6xl items-center justify-between px-4 pt-8 pb-4 text-xs/5 md:px-10 lg:px-14'>
        <p>&copy; {currentYear} Armando Borge</p>
        <div class='flex justify-center gap-x-4'>
            <a href='/rss.xml' class='hover:text-ajna'> RSS </a>
            <a href='https://github.com/armandoborge' class='hover:text-ajna' target='_blank' rel='noopener noreferrer'>
                GitHub
            </a>
        </div>
    </div>
</footer>
