---
import { Image } from 'astro:assets'
import ProfilePicture from '@/img/ab.jpg'
import Title from '@/components/Title.astro'

const { title, showImage = true } = Astro.props
---

{
    showImage && (
        <div class='border-ajna relative isolate mx-auto mt-12 block size-40 rotate-[-15deg] overflow-hidden rounded-sm border-1 border-dotted md:mx-0 md:mt-20 lg:hidden'>
            <Image
                src={ProfilePicture}
                alt='Armando Borge'
                class='absolute inset-0 -z-10 rounded-sm object-cover p-0.5'
                width={158}
                height={158}
                densities={[2]}
            />
            <div class='bg-yin/20 dark:bg-yang/20 absolute inset-0 -z-10' />
        </div>
    )
}

<div class='mb-12 text-center md:text-left'>
    <Title title={title} />
</div>
