---
import { Image } from 'astro:assets'
import Favicon from '@/img/favicon.png'
---

<a
    href='/'
    class='ring-1 ring-transparent hover:ring-black size-8 p-[1px] dark:hover:ring-white rounded-sm'
>
    <span class='sr-only'>Armando Borge Personal Website</span>
    <Image
        src={Favicon}
        alt='Armando Borge ~ Personal Website'
        class="rounded-sm"
        width={36}
        height={36}
        densities={[2]}
    />
</a>
