---
import { Image } from 'astro:assets'
import Favicon from '@/img/favicon.png'
---

<a href='/' class='size-8'>
    <Image src={Favicon} alt='Armando Borge' width={36} height={36} densities={[2]} class='invert-100 dark:invert-0' />
</a>
