---
import { Image } from 'astro:assets'
import Favicon from '@/img/favicon.png'
---

<a
    href='/'
    class='hover:border-ajna size-8 rounded-sm border-1 border-dotted border-transparent p-[1px]'
>
    <Image
        src={Favicon}
        alt='Armando Borge'
        class='rounded-sm'
        width={36}
        height={36}
        densities={[2]}
    />
</a>
