---

---

<div
    class='nav-links top-20 left-12 m-0 hidden w-full bg-[#ff9776] md:static md:ml-20 md:block md:w-auto md:bg-transparent'
>
    <a
        href='/'
        class='block px-0 py-[10px] text-center text-xl font-bold uppercase no-underline hover:bg-[#ff9776] focus:bg-[#ff9776] md:inline-block md:px-5 md:py-[15px] dark:text-white'
        >Home</a
    >
    <a
        href='/about/'
        class='block px-0 py-[10px] text-center text-xl font-bold uppercase no-underline hover:bg-[#ff9776] focus:bg-[#ff9776] md:inline-block md:px-5 md:py-[15px] dark:text-white'
        >About</a
    >
    <a
        href='/blog/'
        class='block px-0 py-[10px] text-center text-xl font-bold uppercase no-underline hover:bg-[#ff9776] focus:bg-[#ff9776] md:inline-block md:px-5 md:py-[15px] dark:text-white'
        >Blog</a
    >
    <a
        href='/tags/'
        class='block px-0 py-[10px] text-center text-xl font-bold uppercase no-underline hover:bg-[#ff9776] focus:bg-[#ff9776] md:inline-block md:px-5 md:py-[15px] dark:text-white'
        >Tags</a
    >
</div>
