---
import Logo from '@/components/Logo.astro'
import ThemeToggle from '@/components/ThemeToggle.astro'
---

<header class='dark:bg-yang bg-yin sticky top-0 z-10'>
    <nav
        class='mx-auto flex w-full max-w-6xl items-center justify-between px-4 pt-8 pb-2 md:px-10 lg:px-14'
        aria-label='Global'
    >
        <Logo />
        <div class='md:flex md:gap-x-12'>
            <ThemeToggle />
        </div>
    </nav>
</header>
