---

---

<div class='nav-links w-full top-20 left-12 bg-[#ff9776] hidden m-0 md:ml-20 md:block md:static md:w-auto md:bg-transparent'>
    <a href='/' class='block text-center py-[10px] px-0 no-underline text-xl font-bold uppercase hover:bg-[#ff9776] focus:bg-[#ff9776] dark:text-white md:inline-block md:py-[15px] md:px-5'>Home</a>
    <a href='/about/' class='block text-center py-[10px] px-0 no-underline text-xl font-bold uppercase hover:bg-[#ff9776] focus:bg-[#ff9776] dark:text-white md:inline-block md:py-[15px] md:px-5'>About</a>
    <a href='/blog/' class='block text-center py-[10px] px-0 no-underline text-xl font-bold uppercase hover:bg-[#ff9776] focus:bg-[#ff9776] dark:text-white md:inline-block md:py-[15px] md:px-5'>Blog</a>
    <a href='/tags/' class='block text-center py-[10px] px-0 no-underline text-xl font-bold uppercase hover:bg-[#ff9776] focus:bg-[#ff9776] dark:text-white md:inline-block md:py-[15px] md:px-5'>Tags</a>
</div>
