---
import ProjectItem from '@/components/ProjectItem.astro'
import OtherProjectItem from '@/components/OtherProjectItem.astro'
import { selectedWork, otherProjects } from '../data/projectsData.js'
---

<section>
    <div class='mx-auto mb-4 flex max-w-4xl items-center gap-4'>
        <span class='bg-yang/10 dark:bg-yin/10 h-px flex-1'></span>
        <span class='section-label'>Selected Work</span>
        <span class='bg-yang/10 dark:bg-yin/10 h-px flex-1'></span>
    </div>
    <div class='space-y-4'>
        {selectedWork.map((project, index) => <ProjectItem project={project} index={index} />)}
    </div>
</section>

<section class='mt-28'>
    <div class='mx-auto mb-4 flex max-w-4xl items-center gap-4'>
        <span class='bg-yang/10 dark:bg-yin/10 h-px flex-1'></span>
        <span class='section-label'>Experiments</span>
        <span class='bg-yang/10 dark:bg-yin/10 h-px flex-1'></span>
    </div>
    <div class='mx-auto grid max-w-4xl grid-cols-1 gap-4 sm:grid-cols-2'>
        {otherProjects.map((project) => <OtherProjectItem project={project} />)}
    </div>
</section>
