:root {
    --header-height: 140px;
    --left-spacing: 60px;

    --color-mine-shaft: #2B2B2B;
    --color-cape-cod: #3B3F41;

    --color-sunset-orange: #FD5051;
    --color-hippie-blue: #5A96BC;
    --color-anzac: #E5B757;
    --color-mercury: #E8E8E8;
}

html, body {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 16px;
    color: var(--color-mercury);
    background: var(--color-mine-shaft);
    font-family: 'Source Code Pro', monospace;
}

h1 {
    font-weight: 400;
    font-size: 2rem;
    text-transform: uppercase;
}

h2 {
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--color-anzac);
}

*, *:before, *:after {
    box-sizing: border-box;
}

a {
    color: var(--color-hippie-blue);
    text-decoration: none;
}


/*
 * Forms
 ***********************************/
form {
    width: 100%;
    max-width: 320px;
    margin: 20px auto;
}
input,
textarea {
    outline: none;
    padding: 8px  8px  8px  0;
    color: white;
    border: none;
    background: none;
    border-bottom: 1px var(--color-hippie-blue) solid;
    font-size: 16px;
    border-radius: 0;
}
input {
    height: 56px;
}
textarea {
    height: 56px;
    resize: none;
}
input::placeholder,
textarea::placeholder {
    color: var(--color-mercury);
    text-transform: uppercase;
}
form input,
form textarea {
    width: 100%;
    margin: 12px auto;
    display: block;
}
form button {
    background: white;
    padding: 12px;
    min-width: 120px;
    cursor: pointer;
    display: inline-block;
    color: black;
    margin: 20px auto;
    text-transform: uppercase;
    outline: none;
    border: none;
    text-align: center;
    font-size: 16px;
}
@media (min-width: 576px) {
    form {
        max-width: 380px;
    }
}

/*
 * header
 */
.header {
    top: 0;
    width: 100%;
    display: block;
    position: sticky;
    position: -webkit-sticky;
    padding: 20px 0;
    text-align: center;
    height: var(--header-height);
    color: var(--color-mercury);
    background: var(--color-mine-shaft);
    border-bottom: 1px var(--color-hippie-blue) solid;
    z-index: 3;
}
.header h1 {
    margin-top: 20px;
    margin-bottom: 0;
}

.links {
    font-size: 14px;
    margin: 20px auto 0;
    text-transform: uppercase;
}

.links a {
    color: var(--color-anzac);
}

/*
 * main
 */
.main {
    display: grid;
    grid-template-columns: 1fr;
}

.cape {
    background: var(--color-cape-cod);
}

/*
 * bio
 */
.bio {
    padding: 150px 40px;
    background: url('../media/map.svg') no-repeat center center var(--color-cape-cod);
    background-size: cover;
}
@media (min-width: 992px) {
    .bio {
        background: url('../media/map.svg') no-repeat center center var(--color-cape-cod);
        background-size: contain;
    }
}
.bio-content {
    display: block;
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
}

.photo {
    width: 200px;
    height: 200px;
    display: block;
    border-radius: 50%;
    margin: 20px auto;
}

/*
 * content
 */
.section-wrapper {
    display: flex;
    align-items: center;
    padding: 40px;
    min-height: calc(100vh - var(--header-height));
}
.section-wrapper-inside {
    display: block;
    margin: 0 auto;
    max-width: 900px;
}
.section {
    display: block;
    margin: 40px 0 80px;
}
.section-title {
    text-align: center;
    margin-bottom: 80px;
}

/*
 * lists
 */

.list-wrapper {
    position:relative;
}
.list-item-wrapper {
    margin-top: 20px;
    position: relative;
    margin-bottom: 80px;
}
.list-bullet {
    float:left;
    margin-right: 20px;
    background: var(--color-sunset-orange);
    height: 30px;
    width: 30px;
    line-height:30px;
    border-radius:100px;
    font-weight:700;
    color:white;
    text-align:center;
    z-index: 2;
    position: relative;
}
.list-item {
    display:table-row;
    vertical-align:middle;
}
.list-company {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: var(--color-hippie-blue);
}
.list-date {
    font-size: 0.9rem;
}
.list-location {
    color: var(--color-mercury);
    font-size: 0.9rem;
}
.list-position {
    color: var(--color-anzac);
    margin-top: 20px;
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.list-text {
    margin-bottom: 15px;
}
.red-line {
    background:#FF4949;
    width: 2px;
    z-index: 1;
    height: 100%;
    position: absolute;
    left: 15px;
}
.mine-shaft-line {
    background: var(--color-mine-shaft);
    top: 0;
    width: 6px;
    z-index: 1;
    height: 100%;
    position: absolute;
    left: 12px;
}
.cape-cod-line {
    background: var(--color-cape-cod);
    top: 0;
    width: 6px;
    z-index: 1;
    height: 100%;
    position: absolute;
    left: 12px;
}

/*
 * references
 */
.references {
    display: grid;
    grid-template-columns: 1fr;
}
@media (min-width: 768px) {
    .references {
        grid-template-columns: 1fr 1fr;
    }
}
figure.reference {
    position: relative;
    overflow: hidden;
    margin: 15px;
    color: var(--color-cape-cod);
    text-align: left;
    box-shadow: none !important;
}
figure.reference img {
    max-width: 100%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
    display: inline-block;
    z-index: 1;
    position: relative;
    filter: grayscale(100%);
}
figure.reference blockquote {
    display: block;
    border-radius: 8px;
    position: relative;
    background-color: var(--color-mercury);
    padding: 30px 50px 65px 60px;
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0 0 -50px;
    line-height: 1.6em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
figure.reference blockquote:before,
figure.reference blockquote:after {
    content: "\201C";
    position: absolute;
    font-size: 50px;
    opacity: 0.3;
    font-style: normal;
}
figure.reference blockquote:before {
    top: 35px;
    left: 20px;
}
figure.reference blockquote:after {
    content: "\201D";
    right: 20px;
    bottom: 35px;
}
figure.reference .author {
    margin: 0 0 60px;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-mercury);
    display: block;
}
figure.reference .author h5 {
    margin: 0;
    color: var(--color-hippie-blue);
}
figure.reference .author h5 span {
    color: var(--color-anzac);
    text-transform: none;
    display: block;
}

.outside {
    display: block;
    margin: 0 auto;
}