---
import '@/css/global.css'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'

const { pageTitle } = Astro.props
---

<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <link rel='icon' type='image/png' href='/favicon.png' />
        <meta name='viewport' content='width=device-width' />
        <title>Armando Borge | {pageTitle}</title>
        <link rel='sitemap' href='/sitemap-index.xml' />
    </head>
    <body class='font-inter text-yang dark:bg-yang bg-yin dark:text-yin'>
        <Header />
        <main class='mx-auto min-h-[calc(100vh-140px)] w-full max-w-7xl px-4 py-12 md:px-10 lg:px-14'>
            <slot />
        </main>
        <Footer />
    </body>
</html>
