---
import '@/styles/global.css'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'

const { pageTitle } = Astro.props
---

<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <link rel='icon' type='image/png' href='/favicon.png' />
        <meta name='viewport' content='width=device-width' />
        <title>Armando Borge | {pageTitle}</title>
    </head>
    <body
        class='font-inter bg-white text-black dark:bg-black dark:text-white'
    >
        <Header />
        <main
            class='mx-auto min-h-[calc(100vh-136px)] w-full max-w-7xl px-4 py-12 md:px-10 lg:px-14'
        >
            <slot />
        </main>
        <Footer />
    </body>
</html>
