:root {
    --color-big-stone: #17263C;
    --color-brandy: #E2CB9E;
    --color-polar: #E5F7FA;
    --color-rangitoto: #282721;
    --color-fiord: #425A6A;
}

html, body {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 300;
    color: var(--color-polar);
    font-family: 'Roboto', sans-serif;
    background: url('../media/background.svg') no-repeat center center fixed var(--color-big-stone);
    background-size: cover;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.bg-wrapper {
    width: 100vw;
    height: auto;
    background: rgba(0, 0, 0, 0.5);
}

.main-wrapper {
    max-width: 750px;
    min-height: 100vh;
    padding: 40px 20px;
    margin: 0 auto;

    display: grid;
    align-items: start;
    grid-auto-rows: minmax(50px, auto);
    grid-template-columns: 1fr;
    grid-template-areas:
            'avatar'
            'name'
            'contact'
            'about'
            'links'
            'copyrigth'
}

.avatar  { grid-area: avatar }
.name    { grid-area: name }
.contact { grid-area: contact }
.about   { grid-area: about }
.links   { grid-area: links }
.footer  { grid-area: copyrigth }

/*
 * Avatar image
 ********************/
.avatar {
    width: 295px;
    margin: 0 auto;
    min-height: 295px;
    background-image: url('../media/armandoborge.jpg');
    background-size: cover;
    border: 1px solid var(--color-fiord);
    border-radius: 15px 50px;
    max-height: 100vh;
    align-self: stretch;
}

/*
 * Name and occupation
 ********************/
.name {
    text-align: center;
    padding: 25px 0;
    border-bottom: 1px dotted var(--color-brandy);
}
.name h1 {
    margin: 0 0 5px;
    font-weight: 300;
    font-size: 24px;
    color: var(--color-brandy);
}
.name h2 {
    margin: 0;
    font-weight: 300;
    font-size: 16px;
}

/*
 * Contact details
 ********************/
.contact {
    overflow: hidden;
    padding: 25px 0;
}
.contact div {
    width: 50%;
    float: left;
}
.contact h3 {
    margin: 0 0 5px;
    font-size: 14px;
    font-weight: 300;
    color: var(--color-brandy);
}
.contact p {
    margin: 0;
}

/*
 * About me
 ********************/
.about{
    padding: 0;
}
.about h3 {
    margin: 0 0 5px;
    font-size: 14px;
    font-weight: 300;
    color: var(--color-brandy);
}
.about p {
    line-height: 20px;
}

.about a {
    text-decoration: none;
    color: var(--color-brandy);
}

/*
 * About me
 ********************/
.links {
    margin: 0;
    width: auto;
    overflow: hidden;
    list-style: none;
    padding: 25px 0;
    text-align: center;
}

.links li {
    padding: 0;
    min-width: 50px;
    text-align: center;
    display: inline-block;
}

.links li a {
    font-size: 16px;
    text-decoration: none;
    color: var(--color-brandy);
}

/*
 * Footer
 ********************/
.footer {
    text-align: center;
    padding: 9px 0;
}


/* Medium devices (tablets, 576px and up)*/
@media (min-width: 576px) {
    .main-wrapper {
        grid-template-columns: 250px 1fr;
        grid-template-areas:
            'avatar    .'
            'avatar    name'
            'avatar    contact'
            'avatar    about'
            'avatar    links'
            'avatar    .'
            'copyrigth copyrigth'
    }

    .avatar {
        width: 220px;
        margin: 0 auto;
        min-height: 560px;
        background-position: center 0;
        background-image: url('../media/armandoborge.jpg');
        background-size: cover;
    }

    .name {
        text-align: center;
        align-self: end;
    }

    .links {
        align-self: self-start;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .main-wrapper {
        max-width: 850px;
        grid-template-columns: 320px 1fr;
        grid-template-areas:
                'avatar    .'
                'avatar    name'
                'avatar    contact'
                'avatar    about'
                'avatar    links'
                'avatar    .'
                'copyrigth copyrigth'
    }
    .avatar {
        width: 280px;
        background-position: center 0;
        background-image: url('../media/armandoborge.jpg');
        background-size: cover;
        display: inline-block;
        position: relative;
    }

    .name {
        text-align: left;
    }
    .name i {
        display: none;
    }
}
